@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    @apply h-5 w-2;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply  bg-neutral-800;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-full bg-neutral-500;
  }
}

