name: Deploy to GitHub Pages

permissions:
  contents: write

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Application version'
        required: true
        type: string

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '25'

      - name: Install Dependencies
        run: npm install

      - name: Build pages
        run: |
          npm run build
          npm version ${{ github.event.inputs.version }} --no-git-tag-version
          node version.js

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4.7.3
        with:
          folder: dist
          branch: gh-pages
